<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .fondo {
        background-color: #737373;
    }

</style>

{% extends 'base.html' %}

{% block content %}

    {% with cart.get_products as products %}

        {% if products %}

            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Sub Total</th>
                    <th>Precio Envio</th>
                </tr>
                {% for product_data in products %}
                    {% with product_data.product as product %}
                        <tr>
                            <td><img src="{{ product.cover_image }}" style="height: 100px;width: 100px;"/></td>
                            <td>{{ product.name }}
                                <span style="color: black;"
                                      class="w-100 d-inline-block text-truncate">
                                        {% for variant in product_data.variants %}
                                            <br>
                                            {{ variant }}
                                        {% endfor %}
                                    </span>
                            </td>
                            <td style="text-align: right;">{{ product_data.quantity }}</td>
                            <td style="text-align: right;">{{ product.sale_price }}</td>
                            <td style="text-align: right;">{{ product_data.subTotal }}</td>
                            <td style="text-align: right;">{{ product_data.priceEnvio }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}

            </table>

        {% else %}
            <span class="d-flex justify-content-center">
                No hay productos en el carrito
            </span>
        {% endif %}

    {% endwith %}

    {% with cart.get_total as total %}
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
                <div class="row">
                    <span class="col-8"><b>Total:</b></span>
                    <span class="col-4" style="text-align: right;">{{ total.total }}</span>
                </div>
                <div class="row">
                    <span class="col-8"><b>Total Envio:</b></span>
                    <span class="col-4" style="text-align: right;">{{ total.totalEnvio }}</span>
                </div>
            </div>
        </div>

    {% endwith %}

    {% if cart.count %}
        {% include 'sales/buy_form.html' %}
    {% endif %}


{% endblock content %}