<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.fondo {
  background-color: #737373;
}

</style>

{% extends 'base.html' %}

{% block content %}

    aca hay que mostrar los productos que se van a comprar (salen del carrito) con precio

    para acceder a los productos del carrito se puede usar {{ cart.get_products }}

    tambien mostrar el precio total (ver que hacer con precios en dolares -> multiplicar por un valor fijo?)

    {% with cart.get_products as products %}

        {% if products %}

            <table>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Precio Envio</th>
              </tr>
                {% for product_data in products %}
                    {% with product_data.product as product %}
                      <tr>
                          <td><img src="{{ product.cover_image }}" style="height: 100px;width: 100px;"/></td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.quantity }}</td>
                          <td style="text-align: right;">{{ product.price }}</td>
                          <td style="text-align: right;">{{ product.priceEnvio }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}

            </table>

        {% else %}
            <span class="d-flex justify-content-center">
                No hay productos en el carrito
            </span>
        {% endif %}

    {% endwith %}

        {% with cart.get_total as total %}
          <div class="row">
          <div class="col-8" >
          </div>
          <div class="col-4">
              <div class="row">
                  <spam class="col-8"><b>Total:</b></spam>
                  <spam class="col-4" style="text-align: right;">{{ total.total }}</spam>
              </div>
              <div class="row">
                  <spam class="col-8"><b>Total Envio:</b></spam>
                  <spam class="col-4" style="text-align: right;">{{ total.totalEnvio }}</spam>
              </div>
          </div>
          <div>
        {% endwith %}

{% endblock content %}