<ul class="dropdown-menu dropdown-menu-right pre-scrollable p-3" style="width: 300px; max-height: 500px">
    <li><a href="#">HTMLfdsfsdfsd fds fdsf adf adsf dsa f</a>
        fdsfds fds fsd fds f ds
    </li>
    <li class="dropdown-divider"></li>
    <li><a href="#">CSS</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
    <li class="dropdown-divider"></li>
    <li><a href="#">JavaScript</a></li>
</ul>