<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="/">El deporte Online</a>
    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item {% if "catalog" in request.get_full_path %}active{% endif %}">
                <a class="nav-link" href="{% url "full_catalog" %}">
                    Catálogo
                </a>
            </li>


        </ul>
    </div>

    <div class="float-right w-100 text-right mr-5">
        <i class="fas fa-shopping-cart text-white h3"></i>
    </div>
</nav>