{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if theproduct.images.count or theproduct.videos.count %}
                    <div id="carouselExampleControls" class="carousel slide h-100 align-middle" data-ride="carousel" {% if theproduct.videos.count %} data-interval="false" {% endif %}>
                        <div class="carousel-inner">
                            {% for n in theproduct.images.all %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %} ">
                                    <img class="d-block w-100" src="{{ n.url }}" style="height: 300px;"/>
                                </div>
                            {% endfor %}
                            {% for n in theproduct.videos.all %}
                                <div class="carousel-item{% if not theproduct.images.count and forloop.first %} active{% endif %}">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{n.externalUri}}" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev h-25 mt-5" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <div class="bg-dark p-2">
                                <span class="carousel-control-prev-icon p-3" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </div>
                        </a>
                        <a class="carousel-control-next h-25 mt-5" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <div class="bg-dark p-2">
                                <span class="carousel-control-next-icon p-3" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <img class="d-block w-100" src="{{ theproduct.cover_image }}"/>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ theproduct }}</h1>
                <span style="font-size: large">{{ theproduct.short_description }}</span><br>
                <span style="font-size: x-large">{{ theproduct.price }}</span> <br>

                <form method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ theproduct.id }}"/>

                    <hr>

                    {% for variant in theproduct.variants_with_values %}
                        <span style="font-size: x-large">{{ variant.name | title }}:</span><br>
                        <div class="btn-group-toggle row ml-2" data-toggle="buttons">
                            {% for value in variant.values.all %}
                                <label class="btn btn-outline-primary  m-2">
                                    <input type="radio" name="variant_{{ variant.id }}" value="{{ value.id }}" required>
                                    {{ value.name | title }}
                                </label>
                            {% endfor %}
                        </div>
                        <hr>

                    {% endfor %}
                    <br>

                    <div class="form-group row ml-1">
                        <label style="font-size: x-large" for="quantity">Cantidad: </label>
                        <input id="quantity" type="number" min="1" value="1" name="quantity"
                               class="form-control col-2 ml-4" required/>
                    </div>

                    <input type="submit" class="btn btn-success btn-block" value="Agregar al carrito"/>

                </form>
            </div>

        </div>
        <div class="row mt-5 border p-3">
            <span>{{ theproduct.description | safe }} </span> <br>
        </div>
    </div>

{% endblock content %}