{% extends 'base.html' %}
{% block content %}  

<div class="container">
    <div class="row">
      <div class="col-sm">
        Aca van las fotos
      </div>
      <div class="col-sm">
         <h1>{{theproduct}}</h1>
         <span style="font-size: large">Descripción corta: {{ theproduct.short_description }}</span><br>
         <span style="font-size: x-large">Precio: {{ theproduct.price }}</span> <br><br>
         <button class="btn btn-success btn-block" onclick="location.href = '/compra'">Comprar</button>
      </div>
    </div>

    <div class="row mt-5 border p-3">
        <span>{{ theproduct.description | safe }} </span> <br>
    </div>
</div>

{% endblock content %}