{% extends 'base.html' %}

{% block content %}

<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.fondo {
  background-color: #737373;
}

</style>


    <ul class="fondo">
        {% for product in object_list %}
            {% include "catalog/product_card.html" with product=product %}
        {% endfor %}
    </ul>

<hr>

{% comment %}
queda para despues, cuando hagamos en formato cards

<table>
  <tr>
    <th>Imagen</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th></th>
  </tr>
   {% for product in object_list %}
  <tr>
      <td>Soy una imagen</td>
      <td>{{ product.name }}</td>
      <td>{{ product.short_description }}</td>
      <td style="width: 100%; float: left; text-align: right;">{{ product.price }}</td>
      <td><a href="{% url "producto" product.id %}">Detalles</a></td>
    </a>
    </tr>
  {% empty %}    
  <tr>
    <td></td>
    <td>No products yet.</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>

{% endcomment %}

{% endblock content %}
